@import /src/styles/global.sass

*
  padding: 0
  margin: 0
  box-sizing: border-box

  font-family: Mukta, sans-serif

html
  font-size: 62.5%

body
  font-size: 1.6rem
  background-color: $background
  color: $paragraph

  max-width: 100%
  width: $width-normal

  padding-inline: 4rem
  margin: 0 auto

@media screen and ( max-width: 530px  )

  body
    padding-inline: 1rem
