@import 'src/styles/global.sass'

.container__popular

  .container__movies__content

    font-size: 2rem
    display: flex
    justify-content: space-between

    span
      color: #BFBFBF

    h1
      color: #ffffff

    h1
      &::after
        content: ""
        display: inline-block

        background: $headline
        width: 2rem
        height: 2px

        margin-left: 1rem

    a
      display: block
      width: fit-content

      font-size: 1.6rem
      text-decoration: none
      color: $headline

      border-radius: 6px
      background-color: #13151d

      padding: 0.6rem
      margin-top: auto

      transition: all 0.2s ease-in-out

      text-align: center

      &:hover
        background-color: #171922

  .container__movies
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr
    gap: 2rem

    padding-block: 2rem

    .container__movie
      display: flex
      flex-direction: column
      justify-content: space-between
      gap: 2rem

      border-radius: 10px
      background: $background
      box-shadow: 27px 27px 54px $background

      a
        text-decoration: none

        display: flex
        flex-direction: column
        gap: 1rem

      h1
        font-size: 2rem
        line-height: 2rem

        color: $headline-secondary

        &::before

          content: ""

          width: 10px
          height: 10px

          display: inline-block
          margin-right: 0.4rem

          background-color: $headline-dark

      .container__infos
        display: flex
        align-items: center
        justify-content: space-between

        p
          text-transform: uppercase

        svg
          cursor: pointer

          &:hover
            color: $headline

      img
        width: 100%
        border-radius: 6px
        border: 1px solid $white

        transition: all 0.2s ease-in-out

        &:hover
          border: 1px solid $headline
          cursor: pointer

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

.container__rated

  margin-top: 6rem

  .container__movies__content__rated

    font-size: 2rem
    display: flex
    justify-content: space-between

    span
      color: #BFBFBF

    h1
      color: #ffffff

    h1
      &::after
        content: ""
        display: inline-block

        background: $headline
        width: 2rem
        height: 2px

        margin-left: 1rem

    a
      display: block
      width: fit-content

      font-size: 1.6rem
      text-decoration: none
      color: $headline

      border-radius: 6px
      background-color: #13151d

      padding: 0.6rem
      margin-top: auto

      transition: all 0.2s ease-in-out

      &:hover
        background-color: #171922

  .container__movies__rated

    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr
    gap: 2rem

    padding-block: 2rem

    .container__movie
      display: flex
      flex-direction: column
      justify-content: space-between
      gap: 2rem

      border-radius: 10px
      background: $background
      box-shadow: 27px 27px 54px $background

      a
        text-decoration: none

        display: flex
        flex-direction: column
        gap: 1rem

      h1
        font-size: 2rem
        line-height: 2rem

        color: $headline-secondary

        &::before

          content: ""

          width: 10px
          height: 10px

          display: inline-block
          margin-right: 0.4rem

          background-color: $headline-dark

      .container__infos
        display: flex
        align-items: center
        justify-content: space-between

        p
          text-transform: uppercase

        svg
          cursor: pointer

          &:hover
            color: $headline

      img
        width: 100%
        border-radius: 6px
        border: 1px solid $white

        transition: all 0.2s ease-in-out

        &:hover
          border: 1px solid $headline
          cursor: pointer

@media screen and (max-width: 1115px)

  .container__popular
    .container__movies
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      grid-template-rows: 1fr 1fr 1fr
      gap: 2rem

      padding-block: 2rem

  .container__rated
    .container__movies__rated

      display: grid
      grid-template-columns: 1fr 1fr 1fr
      grid-template-rows: 1fr 1fr 1fr
      gap: 2rem

@media screen and (max-width: 1024px)

  .container__popular
    .container__movies
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr
      gap: 2rem

      padding-block: 2rem

  .container__rated
    .container__movies__rated

      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr
      gap: 2rem

@media screen and ( max-width: 570px)

  .container__popular
    .container__movies
      display: grid
      grid-template-columns: 1fr 
      grid-template-rows: 1fr
      gap: 2rem

      padding-block: 2rem

  .container__movies__content__rated

    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    gap: 2rem

  .container__rated
    .container__movies__rated

      display: grid
      grid-template-columns: 1fr
      grid-template-rows: 1fr
      gap: 2rem
