@import '/src/styles/global.sass'

header
  display: flex
  align-items: center
  justify-content: space-between

  padding-block: 2rem

  a
    color: $headline
    font-size: 3rem
    font-weight: 600

    text-decoration: none
